.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0;
  background-color: rgb(253, 251, 251);
  z-index: 100;
}

.link {
  color: #00a9d4;
  text-decoration: none;
}
.link:hover {
  color: #58a4b8;
}
